<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Succeed</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<style>
    .table-container{
        padding: 15px 20px;
    }
    .title{
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 10px;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    tr:hover {
        background-color: #ccc;
    }
</style>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/create">Create Users</a>
    </div>
        
    <div>
        Succeed !
    </div>
</body>
</html>