<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hoi Sinh vien</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    hello world with ejs
    <div>
      <img class="huuthanh" src="/images/HSV.jpg" />
    </div>
  </body>
</html>
